absl-py==2.4.0
cffi==2.0.0
clarabel==0.11.1
cvxpy==1.8.1
highspy==1.13.1
immutabledict==4.3.1
Jinja2==3.1.6
joblib==1.5.3
MarkupSafe==3.0.3
numpy==2.4.2
ortools==9.15.6755
osqp==1.1.1
pandas==3.0.0
protobuf==6.33.5
pycparser==3.0
python-dateutil==2.9.0.post0
scipy==1.17.0
scs==3.2.11
setuptools==82.0.0
six==1.17.0
typing_extensions==4.15.0
